.message-list-wrapper {
  background-color: #e0f4ff;
  box-shadow: inset 0 0 3px #a3aed7;
  height: 30em;
  overflow: auto;
}

.message-list {
  padding: 2em;
}

@media all and (max-width: 600px) {

  .message-list {
    padding: 0.5em;
  }
}
