.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

.header-side {
  display: flex;
  align-items: center;
}

.header-block {
  margin: 0 0.5em;
}

.header-title {
  font-size: 2em;
  font-weight: normal;
}

.header-number {
  font-size: 1.5em;
  margin: 0.2em;
}

.header-info-br {
  display: none;
}

@media all and (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .header-side {
    margin: 0.5em 0;
  }
}

@media all and (max-width: 600px) {
  .header {
    padding: 0;
  }

  .header-info {
    text-align: center;
  }

  .header-info-br {
    display: block;
  }
}
