.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  width: 70%;
  max-width: 600px;
  padding: 2em;
  margin: 5em auto 0;
  border-radius: 10px;
  background-color: #fff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.modal-title {
  font-size: 1.5em;
}

.modal-body {
  padding: 0.5em;
}

.modal-textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 10em;
  resize: none;
}

.modal-footer {
  padding: 1em 1em 0 0;
  display: flex;
  justify-content: flex-end;
}

.modal-footer .button {
  width: 10em;
}
