.confirm-button {
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  background-color: #344792;
}

.confirm-button:hover {
  background-color: #25336a;
}

.button-blocked {
  cursor: not-allowed;
}

.button-blocked:hover {
  background-color: #344792;
}
